<%- include("partials/header.ejs") %>

<div class="container ">
    <h1 class="text-center pt-3 red ">
        <%=  blog.title %>
    </h1>
    <h3>
        Category : <%=  blog.category %>
    </h3>
    <div class="author">
       <h5>
           Author Name : <%= blog.authorName  %>
        </h5>
    </div>
    <div class="content text-left px-5">
        <%= blog.content %>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem minima quos, in quas omnis tempore iure assumenda. Quisquam veniam pariatur adipisci molestiae praesentium reprehenderit quam error quod omnis. Dicta deserunt cupiditate ducimus nostrum quisquam hic vero omnis asperiores ipsa totam deleniti iste iusto non officia ipsum quis unde fugit, illum aperiam expedita a accusamus sit corrupti! Ex nisi error rerum quae delectus inventore molestias aliquam nulla, tempora, repellat repudiandae odio! Ducimus aspernatur quaerat quas, consequuntur neque dicta blanditiis autem, omnis enim animi culpa dolorum ex architecto minus perferendis exercitationem repudiandae similique optio praesentium magni earum quod. Sunt dolorem voluptatem accusamus, officia tempora deserunt minima reiciendis blanditiis, aut saepe fuga pariatur beatae atque consequuntur ducimus itaque sequi debitis culpa. Iusto, ipsam aperiam! Vitae debitis
        <br> <br>animi qui quibusdam cum pariatur fuga necessitatibus consectetur veritatis officia! Nostrum, ipsum! Id, adipisci perferendis autem voluptatibus fuga doloremque at ut pariatur asperiores beatae possimus cumque mollitia eum eligendi dolore deleniti maiores eveniet minima porro officiis sapiente, repudiandae, animi impedit nostrum? Non, quasi assumenda. Voluptatibus quae temporibus facilis vitae error autem quis tempore ducimus eos, nesciunt hic nam perspiciatis tenetur laudantium ipsum nemo amet corrupti adipisci sapiente facere soluta. Dolores voluptatum distinctio vel voluptatibus quia cupiditate temporibus esse recusandae. Explicabo obcaecati mollitia veritatis corporis culpa perspiciatis iusto doloribus sit consequuntur dolores aspernatur quaerat officiis doloremque ut eius incidunt, accusantium illum ad. Iure maxime at rem non, vel nulla exercitationem ab expedita quia!
        <br> <br>Natus expedita harum quia hic earum doloribus repellat nihil accusamus amet error deserunt, beatae iure, non distinctio tenetur itaque repudiandae, aperiam debitis optio. Aperiam, optio ducimus distinctio, cum ipsa atque reiciendis numquam, maxime nesciunt facere esse quam hic placeat sequi assumenda alias minima iste dolore omnis nostrum quae maiores praesentium! Velit unde aspernatur id corporis facere, quidem, voluptas rem quis dolor cupiditate veniam nemo vero.
    </div>

 
</div>

<%- include("partials/footer.ejs") %>

