<%- include('partials/header.ejs') %>


<header>
  <h1>Books I’ve read</h1>
  <p>Tiny summary but <strong>detailed notes for each</strong>. Use the ISBN number to find it from your local library or anywhere else. <strong>This page will constantly update as I read more</strong>, so bookmark it if you want to check back in a few months.</p>
</header>
<p id="sorters">Sorted with <strong>my top recommendations up top</strong>. Sort by
  <a href="/books?sort=title" id="sort-title">title</a>,
  <a href="/books?sort=date" id="sort-date">newest</a>, or
  <a href="/books?sort=rating" id="sort-rating">best</a>.
</p>


<div class="row books-list ">
    <%  books.forEach((book)=>{ %>
<div class="col-md-6 col-lg-12">
    <div class="row  border rounded overflow-hidden ">
      <div class="col p-4 d-flex flex-column position-static">
        <h2 class="mb-0">title : <%= book.title %></h2>
        <h5>author name  : <%= book.author  %></h3>
        <div class="mb-1 text-body-secondary"><%= book.date %></div>
        <h5>ISBN : <%= book.isbn %></h5>
        <h5>rating  : <%= book.rating %></h5>
        <p class="mb-auto">Summary : <%= book.summary %> </p>
        <a href="/notes/<%=book.id%>" class="icon">
          write notes... 
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="col-d-md-none d-sm-none d-lg-inline">
          <img width"200" height="250" src="<%= book.img %>" alt="">
        </div>
    </div>
</div>
<% }) %>
</div>


<%- include('partials/footer.ejs') %>